@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Overpass:wght@300;500;700&display=swap");
/*font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Overpass', sans-serif;
*/
body {
  width: 400px;
  margin: auto;
  background-color: #e64448;
  font-family: "Overpass", sans-serif;
}

header {
  background-color: #fff;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.local {
  display: block;
  background-color: #e64448;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.local h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #3c3a48;
  font-weight: bold;
}

.local p {
  color: #e2e1df;
  font: weight 300px;
}

.bikes {
  background-color: #e1e2df;
  text-align: center;
}

.signup {
  display: block;
  background-color: #89c5c7;
  color: #0b354b;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.signup h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #696c6d;
}

.signup label {
  display: block;
  margin-bottom: 5px;
}

.signup input {
  display: block;
  margin-bottom: 20px;
}

.about {
  display: block;
  background-color: #eab244;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.about h1 {
  color: #e64448;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
}

.about p {
  color: #3c4e3e;
}
