@import "/css/colors";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Overpass:wght@300;500;700&display=swap");
/*font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Overpass', sans-serif;
*/

$darkOrange: darkorange;
$orange: #e64448;
$snowWhite: #fff;
$darkGrey: #696c6d;
$darkBlue: #0b354b;
$lightBlue: #89c5c7;
$lightGrey: #e1e2df;
$lightOrange: #eab244;
$lightRed: #e64448;





body {
  width: 400px;
  margin: auto;
  background-color: $orange;
  font-family: "Overpass", sans-serif;
}

header {
  background-color: $snowWhite;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.local {
  display: block;
  background-color: $darkOrange;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
    h1 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        color: $darkGrey;
        font-weight: bold;
    }
    p {
        color: $snowWhite;
        font: weight 300px;
    }
}


.bikes {
  background-color: $lightGrey;
  text-align: center;
}

.signup {
  display: block;
  background-color: $lightBlue;
  color: $darkBlue;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
    h1 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        color: $darkGrey;
    }
    label {
        display: block;
        margin-bottom: 5px;
      }
    input {
        display: block;
        margin-bottom: 20px;
      }
}

.about {
  display: block;
  background-color: $lightOrange;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
    h1 {
        color: $lightRed;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: bold;
    }
    p {
        color: $darkGrey;
      }
      
}
