@use "fonts";
@use "localStyle";
@use "aboutStyle";
@use "signupStyle";
@use "colors" as c;
@include fonts.mainFonts;



@mixin defaultStyling {
  width: 400px;
  margin: auto;
  background-color: c.$orange;
  font-family: "Overpass", sans-serif;
}


body {
  @include defaultStyling()
}

header {
  background-color: c.$snowWhite;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.local { //
  @include localStyle.localStyle;
}


.bikes {
  background-color: c.$lightGrey;
  text-align: center;
}

.signup { //
  @include signupStyle.signupStyle;
}

.about { //
  @include aboutStyle.aboutStyle()
      
}
