@use "colors" as c;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Overpass:wght@300;500;700&display=swap");
/*font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Overpass', sans-serif;
*/






body {
  width: 400px;
  margin: auto;
  background-color: c.$orange;
  font-family: "Overpass", sans-serif;
}

header {
  background-color: c.$snowWhite;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.local {
  display: block;
  background-color: c.$darkOrange;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
    h1 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        color: c.$darkGrey;
        font-weight: bold;
    }
    p {
        color: c.$snowWhite;
        font: weight 300px;
    }
}


.bikes {
  background-color: c.$lightGrey;
  text-align: center;
}

.signup {
  display: block;
  background-color: c.$lightBlue;
  color: c.$darkBlue;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
    h1 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        color: c.$darkGrey;
    }
    label {
        display: block;
        margin-bottom: 5px;
      }
    input {
        display: block;
        margin-bottom: 20px;
      }
}

.about {
  display: block;
  background-color: c.$lightOrange;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
    h1 {
        color: c.$lightRed;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: bold;
    }
    p {
        color: c.$darkGrey;
      }
      
}
